

    <div class="container">
      <div class="row">
       <%= render partial: "sidebar_regions"%>
        <div class="col-md-7 maincontent">
          <h2 class="text-center" >
            Tourist Sites
          </h2>

                <!--  -->

                <% @selectedSites = @state.touristsites %>
                
              

                <!--  -->

          <div class="row hide" id="sitedetails">
            <div>
              <img src="http://placehold.it/680x300" alt="...">
            </div>
            <div class="well">
              <div class="col-sm-6 col-md-6">
                <div><i class="fa fa-bookmark"></i> Tourist Site Name</div>
                <div><i class="fa fa-map-marker"></i> Tourist Site Location</div>
              </div>
              <div class="col-sm-6 col-md-6">
                <div><i class="fa fa-money"></i> $$$</div>
                <div><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i> 32 Reviews</div>
              </div>
            </div>

          </div>
            
              
          <div class="row">
            <% @selectedSites.each do |site| %>
          <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
            <%= image_tag(site.picture, size: "30x40") %>
              <!-- <img src="http://placehold.it/400x400" alt="..."> -->
              <div class="caption">
                <h3> <%= link_to "#{site.name }", state_touristsite_path(site.id, @state.id)%></h3>
              </div>
            </div>
          </div>
           <% end%>
           
        </div>
        

        </div>

        <div class="col-md-3 history">
          <h2 class="text-center">
            History
          </h2>

          <div class="panel panel-default">
          <div class="panel-heading">History </div>
          <div class="panel-body">
            <%= @state.info %>
          </div>
        </div>

        <div class="panel panel-info">
        <div class="panel-heading">Language & Culture </div>
          <div class="panel-body">
             <%= @state.culture %>
          </div>
        </div>
      </div>
        </div>
      </div>

    </div>