

    <!-- Full Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/assets/nzulezubg.png');"></div>
                <div class="carousel-caption">
                    <h1 class="text-center">Nzulezu Village <br> <small>Western Region</small> </h1>
                    <div id="browse_regions">
                        <%= link_to '<i class="fa fa-binoculars"></i> START TOUR'.html_safe, regions_region_path, class: "btn btn-info btn-lg" %>
                    </div>
                </div>
            </div>

            <div class="item">
                <!-- Set the second background image using inline CSS below. -->

                <div class="fill" style="background-image:url('/assets/bg1.jpg');"></div>
               
                <div class="carousel-caption">
                  <h1 class="text-center">Kakum National Park <br> <small>Central Region</small> </h1>
                    <div id="browse_regions">
                        <%= link_to '<i class="fa fa-binoculars"></i> START TOUR'.html_safe, regions_region_path, class: "btn btn-info btn-lg" %>
                    </div>
                </div>
            </div>

            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/assets/bgboti.png');"></div>
               
                <div class="carousel-caption">
                    <h1 class="text-center">Boti Falls<br> <small>Eastern Region</small> </h1>
                   <div id="browse_regions">
                       <!-- <a class="btn btn-info btn-lg" href="region.html"><i class="fa fa-binoculars"></i>START TOUR</a> -->
                           
                        <%= link_to '<i class="fa fa-binoculars"></i> START TOUR'.html_safe, regions_region_path, class: "btn btn-info btn-lg" %>
                    </div>
                 </div>   
            </div>

            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('/assets/bgmus.png');"></div>
               
                <div class="carousel-caption">
                    <h1 class="text-center">Nkrumah Mausoleum<br> <small>G. Accra Region</small> </h1>
                   <div id="browse_regions">
                        <%= link_to '<i class="fa fa-binoculars"></i> START TOUR'.html_safe, regions_region_path, class: "btn btn-info btn-lg" %>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
    

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/assets/js/jquery-2.1.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <% content_for :head do %>
<%= render :partial => "regions/jscript.html.erb" %>  
<% end %>

    